<div class="navbar-wrapper" id="header">
  <a href="/">
    <img src="/public/images/logo.png" alt="bts-logo" class="logo" />
  </a>
  <img src="/public/images/hamburger-icon.png" alt="hamburger-menu-icon" id="hamburger-icon" />
</div>
<div class="menu-container">
  <div class="dropdown-wrapper">
    <div class="menu-content">
      <a href="/" class="menu-item">Home</a>
      <a href="/albums" class="menu-item">Discography</a>
      <a href="/feedback" class="menu-item">Feedback</a>
      <a href="/chatbot" class="menu-item">Chat</a>
      <a href="https://ibighit.com/bts/eng/schedule/" class="menu-item" target="_blank">
        Schedule
      </a>
      <a href="https://ibighit.com/bts/eng/tour/love_yourself/" class="menu-item" target="_blank">
        Tour
      </a>
    </div>
  </div>
</div>
