<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BTS</title>
  <%- include('partials/stylesheets.ejs') %>
</head>

<body>
  <%- include('partials/navbar.ejs') %>
  <div class="background" style="background-image: url('/public/images/background.png'); max-height: 100vh; overflow: hidden; box-sizing: border-boxT  ;">
    <div class="container">
      <h1>Home Page</h1>
    </div>
  </div>
  <%- include('partials/scripts.ejs') %>
</body>

</html>
