<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BTS</title>
  <%- include('partials/stylesheets.ejs') %>
</head>

<body>
  <%- include('partials/navbar.ejs') %>
  <div class="background" style="background-image: url('/public/images/background.png');">
    <div class="container">
      <h1 style="margin-top: 0;">Home Page</h1>
      <div id=bts-members-img>
        <img src="/public/images/home-wallpaper.jpeg" alt="The BTS members face a crowd on stage.">
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </div>
  <%- include('partials/scripts.ejs') %>
</body>

</html>
