.navbar-wrapper {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
}

.logo {
  transition: all 0.4s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

#hamburger-icon {
  cursor: pointer;
  padding: 0.2rem;
}

.menu-container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.dropdown-wrapper {
  height: 100vh;
  width: 25%;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  transform: translateX(100%);
  opacity: 0;
  top: 67px;
  right: 0;
  max-width: 320px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  transition: all 0.3s ease-in-out;
  padding: 1rem 1.4rem 1rem 1rem;
}

.show-menu {
  transform: translateX(0);
  opacity: 1;
}

.menu-content {
  margin-top: -67px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.menu-item {
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: rubik, sans-serif;
  font-weight: bold;
  margin: 0.4rem 0;
  padding: 0.2rem 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.menu-item:hover {
  transform: translateX(-5px);
  opacity: 1;
}
